*{
  margin: 0;
  padding: 0;
}
.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & .wrapper{
    border: 1px solid black;

    & .wrapper__result{
      border: 1px solid black;
      width: 200px;
      height: 30px;
      font-size: 20px;
      padding-top: 10px;
      text-align: right;
    }

    & .numbers{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      & .numbers__button, & .numbers__resert, & .numbers__back{
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
        height: 30px;
      }
    }

    & .operations{
      display: grid;
      grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

      & .operations__button{
        text-align: center;
        height: 30px;
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }
}