body{
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
}

#canvas{
  width: 600px;
  height: 400px;
  border: 1px solid black;
}

.setting{
  margin-left: 20px;
}

.setting__color{
  margin-bottom: 10px;
}

.setting__color-color{
  display: flex;
}

.color-red{
  background-color: red;
}

.color-green{
  background-color: green;
}

.color-blue{
  background-color: blue;
}

.color{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  box-sizing: border-box;
}